<h1>This is product page</h1>
Product: <%= @product.name %><br>
Price: <%= number_to_currency(@product.price) %><br>
Tax: <%= @product.tax %><br>
Total: <%= @product.total %><br>
<h4><%= @product.sale_message %><br></h4>
<img src = "<%= @product.image %>"><br>
Description: <%= @product.description %><br>
<br><br>
<a href = "/products/<%=@product.id%>/edit">Click Here to edit this product</a>
<br><br>
<%=link_to "Destroy product", "/products/#{@product.id}", method: :delete, data: {confirm: "are you sure you want to delete"}%>"
<br><br> <!-- other method of deleting -->
<%=form_tag "/products/#{@product.id}", method: :delete do %>
  <input type = "submit" value = "Destroy Product">
  <% end %>

  <br><br> <!-- other method  -->
  <%=button_to "Destroy product", "/products/#{@product.id}", method: :delete %>"

  <!-- other method -->
  
