<h1>Thank you for you update</h1>

<p>You have updated the following:
Product Name <%= @product.name  %><br>
Price <%= @product.price %><br>
Image <%= @product.image  %><br>
Description <%= @product.description  %><br><br>

To go to product page,<a href = "/products/<%= @product.id %>" > click here</a>

<br>

To go to all products, <a href = "/products"> click here </a>
